@import "../../global.scss";

.topbar {
    background-color: #2b3542;
    padding: 1.2em;
    width: 100%;
    position: fixed;
    z-index: 3;

    a {
        text-decoration: none;
        color: white;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .logo {
        font-size: 1.8rem;
        font-weight: 700;
        
        @media (min-width: 873px) {
            font-size: 3rem;
        }
    }

    .right {
        display: flex;
        align-items: center;

        .desktopMenu {
            margin-right: 3em;
            ul {
                list-style: none;
                display: flex;
                gap: 3em;
                font-size: 1.3rem;
                font-weight: bold;

                a {
                    position: relative;
                }
            }

            ul > li > a:hover {
                color: lightseagreen;
            }

            ul > li > a::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: -5px;
                left: 0;
                background-color: #04bab1;
                transform: scaleX(0);
                transition: transform 0.5s ease;
        
            }
        
            ul > li > a:hover {
                color: #04bab1;
        
                &::before {
                    transform: scaleX(1);
                }
            }

            display: none;

            @media (min-width: 873px) {
                display: block;
            }
        }

        .resume {
            font-size: 1.3rem;
            padding: 0.2em 0.6em;
            border-radius: 15px;
            background: $cta;
            margin-right: 0.5em;

            &:hover {
                background-color: #1bc7be;
                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                color: #fff;
                transform: translateY(-2px);
            }
        }

        .hamburger {
            margin-left: 0.8em;
            width: 2em;
            height: 1.4em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            @media (min-width: 873px) {
                display: none;
            }

            span {
                width: 100%;
                height: 0.11em;
                background-color: white;
                transform-origin: left;
                transition: all 0.7s ease;
            }
        }

        .hamburger.active {
            span {
                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
